button {
    margin-left: 10px;
}

.container {
    margin-top: 20px;
}

.col-md-12 {
    text-align: center;
}

.top {
    margin-bottom: 80px;
}

.list {
    margin-bottom: 10px;
}

.eat, .del {
    margin-bottom: 10px;
}

body {
    background-color: tan;
}

h1, h4 {
    color:navy;
}

#submit {
    background-color: navy;
    color: mintcream;
}

#addburg {
    width: 25rem;
    height: 33px;
}

.d {
    background-color: crimson;
    color: mintcream;
}

.e {
    background-color: mediumspringgreen;
}

div {
    color: navy;
}