button {
    margin-left: 10px;
}

.container {
    margin-top: 20px;
}

.col-md-12 {
    text-align: center;
}

.top {
    margin-bottom: 80px;
}

.list {
    margin-bottom: 10px;
}

.eat, .del {
    margin-bottom: 10px;;
}